<div class="main-content">
  <div class="filter-header">
    <div class="filter-item">
      <button class="filter-button"> <i class="material-icons">topic</i>Type<i
          class="material-icons">arrow_drop_down</i></button>
    </div>
    <div class="filter-item">
      <button class="filter-button"> <i class="material-icons">person</i>People<i
          class="material-icons">arrow_drop_down</i></button>
    </div>
    <div class="filter-item">
      <button class="filter-button"> <i class="material-icons">calendar_today</i>Modified<i
          class="material-icons">arrow_drop_down</i></button>
    </div>
    <div class="filter-item">
      <button class="filter-button"> <i class="material-icons">folder</i>Location<i
          class="material-icons">arrow_drop_down</i></button>
    </div>
  </div>
  <div class="tab-section">
    <div class="left">
      <span>Suggested</span>
      <button class="type-button"><i class="material-icons">check</i>Files</button>
      <button class="type-button"><i class="material-icons">folder_open</i>Folders</button>
    </div>

    <div class="right">
      <button class="layout-button"><i class="material-icons">menu</i></button>
      <button class="layout-button"><i class="material-icons">check</i><i class="material-icons">apps</i></button>
    </div>
  </div>

  <div class="content-grid">
    <div class="item" *ngFor="let item of items">
      <div class="item-header">
        <i class="material-icons">picture_as_pdf</i>
        <div class="filename">{{ item.name }}</div>
        <button class="round-button"><i class="material-icons">more_vert</i></button>
      </div>
      <div class="item-image">
        <img  alt="File image">
      </div>
      <div class="item-info">
        <div class="meta">{{ item.modified | date:'medium' }}</div>
      </div>
    </div>
  </div>
</div>