<div class="navbar">
    <div class="logo">
        <img src="assets/images/logo.png" alt="Logo">
        <span class="title">Drive</span>
    </div>
    <div class="searchbar">
        <button class="round-button" (click)="performSearch(searchTerm)">
            <i class="material-icons">search</i>
        </button>

        <form action="">
            <input type="text" id="search-bar-input" placeholder="Search in Drive" [(ngModel)]="searchTerm" (keyup.enter)="performSearch(searchTerm)" name="searchInput">
        </form>
        <button (click)="toggleModal()" class="round-button">
            <i class="material-icons">tune</i>
        </button>
    </div>
    <div class="navbar-side">
        <div class="button-options">
            <button class="round-button">
                <i class="material-icons">check_circle_outline</i>
            </button>
            <button class="round-button">
                <i class="material-icons">help_outline</i>
            </button>
            <button class="round-button">
                <i class="material-icons">settings</i>
            </button>
        </div>
        <div class="user-account" (click)="openUserProfileDialog()">
            <i class="material-icons">account_circle</i>
        </div>
    </div>
</div>

<!-- Advanced Search Modal -->
<div *ngIf="showModal" class="modal" (click)="onBackgroundClick($event)">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <div style="display: flex; justify-content: flex-end;">
            <span class="close" (click)="toggleModal()"><i class="material-icons">close</i></span>
        </div>

        <!-- Advanced search form fields -->
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" id="advanced-search-form">
            <div class="form-group">
                <label for="typeDropdown">Type</label>
                <p-dropdown id="typeDropdown" [options]="types" optionLabel="label" name="type" formControlName="type"
                    placeholder="Select a Type">
                    <ng-template let-type pTemplate="item">
                        <div [innerHtml]="type.icon"></div> {{ type.label }}
                    </ng-template>
                </p-dropdown>
            </div>
            <div class="form-group">
                <label for="owner">Owner</label>
                <p-dropdown [options]="owners" optionLabel="label" id="owner" name="owner" formControlName="owner"
                    placeholder="Select an Owner"></p-dropdown>
            </div>
            <div class="form-group">
                <label for="textSearchString">Includes the words</label>
                <input pInputText type="text" id="textSearchString" name="textSearchString"
                    formControlName="textSearchString" placeholder="Enter words found in the file" />
            </div>
            <div class="form-group">
                <label for="itemName">Item name</label>
                <input pInputText type="text" id="itemName" name="itemName" formControlName="itemName"
                    placeholder="Enter a term that matches part of the file name" />
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <div class="col-group">
                    <p-dropdown id="location" [options]="driveLocations" optionLabel="label" name="location"
                        formControlName="location" placeholder="Select a location"></p-dropdown>

                    <div class="form-group">
                        <div class="radio-options">
                            <p-checkbox id="deleted" name="deleted" formControlName="deleted" [binary]="true"
                                label="In bin"></p-checkbox>

                            <p-checkbox id="starred" name="starred" formControlName="starred" [binary]="true"
                                label="Starred"></p-checkbox>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Buttons at the bottom of the modal -->
            <div class="bottom-buttons">
                <button type="reset" id="reset-button">Reset</button>
                <button type="submit" id="search-button">Search</button>
            </div>
        </form>
    </div>
</div>