<div class="navbar">
    <div class="logo">
        <img src="assets/images/logo.png" alt="Logo">
        <span class="title">Drive</span>
    </div>
    <div class="searchbar">
        <button class="round-button">
            <i class="material-icons">search</i>
        </button>

        <form action="">
            <input type="text" placeholder="Search in Drive">
        </form>
    </div>
    <div class="navbar-side">
        <div class="button-options">
            <button class="round-button">
                <i class="material-icons">check_circle_outline</i>
            </button>
            <button class="round-button">
                <i class="material-icons">help_outline</i>
            </button>
            <button class="round-button">
                <i class="material-icons">settings</i>
            </button>
        </div>
        <div class="user-account">
            <i class="material-icons">account_circle</i>
        </div>
    </div>
</div>