<form [formGroup]="filterForm" class="filter-header">

    <!-- Filter options -->
    <div class="filter-item">
        <p-dropdown id="typeDropdown" [options]="types" optionLabel="label" name="type" formControlName="type"
            placeholder="Type">
            <ng-template let-type pTemplate="item">
                <div [innerHtml]="type.icon"></div> {{ type.label }}
            </ng-template>
        </p-dropdown>
    </div>
    <div class="filter-item">
        <p-autoComplete [dropdown]="true" [suggestions]="filterPeople" optionLabel="label" (onSelect)="onUserSelect($event)" id="filter" name="filter" formControlName="filter"
            placeholder="People"></p-autoComplete>
    </div>

    <div class="filter-item">
        <p-dropdown id="location" [options]="driveLocations" optionLabel="label" name="location"
            formControlName="location" placeholder="Location"></p-dropdown>
    </div>
</form>