<div class="filter-header">
    <!-- Filter options -->
    <div class="filter-item">
        <button class="filter-button"><i class="material-icons">topic</i>Type<i
                class="material-icons">arrow_drop_down</i></button>
    </div>
    <div class="filter-item">
        <button class="filter-button"><i class="material-icons">person</i>People<i
                class="material-icons">arrow_drop_down</i></button>
    </div>
    <div class="filter-item">
        <button class="filter-button"><i class="material-icons">folder_open</i>Location<i
                class="material-icons">arrow_drop_down</i></button>
    </div>
</div>