<div class="sidebar">
    <ul>
        <li class="menu-item" (click)="goToHome()">
            <i class="material-icons">home</i> <span>Home</span>
        </li>
        <li class="menu-item" (click)="goToMyDrive()">
            <i class="material-icons">drive_eta</i> <span>My Drive</span>
        </li>
        <div class="divider"></div>
        <li class="menu-item">
            <i class="material-icons">group</i> <span>Shared with me</span>
        </li>
        <!-- <li class="menu-item">
            <i class="material-icons">access_time</i> <span>Recent</span>
        </li> -->
        <li class="menu-item">
            <i class="material-icons">star_border</i> <span>Starred</span>
        </li>
        <div class="divider"></div>
        <!-- <li class="menu-item">
            <i class="material-icons">report</i> <span>Spam</span>
        </li> -->
        <li class="menu-item">
            <i class="material-icons">delete</i> <span>Trash</span>
        </li>
        <li class="menu-item">
            <i class="material-icons">cloud</i> <span>Storage</span>
        </li>
    </ul>
    <div class="storage-info">
        <div class="storage-bar"><progress value="16" max="100"></progress> </div>
        <span>1.16 GB of 15 GB used</span>
        <button class="outlined-button">Get more storage</button>
    </div>