.container{
    display: flex;
    flex-direction: row; 
    height: 100%;
 }

.sidebar{
    display: flex;
    flex-direction: column;
}

app-main-content {
    flex-grow: 1; 
    overflow-y: auto;
}
