/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";


:root{
    --light-grey: #5f6368;
    --dark-grey: #444746;
    --container-color: #E9EEF6;
    --dark-blue: #0b57d0;
    --blue: rgb(26, 115, 232);
}

html,
body {
  height: 100%;
  margin: 0;
}

html{
  font-size: 14px; 
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f7f9fc;
  margin-left: 10px;
  margin-right: 10px;
}

.transparent-backdrop {
  background-color: transparent !important; 
}

/* --------------------------------- styles for files --------------------------------------*/

.word-logo, .txt-logo {
  fill: rgb(66, 133, 244);
}

.excel-logo{
  fill: rgb(52, 168, 83);
}

.video-logo, .image-logo, .pdf-logo{
  fill: rgb(234, 67, 53);
}

.word-logo, .txt-logo, .excel-logo, .video-logo, .image-logo, .pdf-logo{
  margin-right: 1rem;
}

.archive-placeholder {
  height: 100%;
  width: 100%;
  background-color: white; 
  text-align: center;
}

.item-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white; 
  margin: 0px 8px;
  border-radius: 0.25rem;
  height: 152px;
}

.file-icon {
  width: 64px; 
  height: 64px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-icon svg {
  width: 100%;
  height: 100%;
}

.filename {
  font-size: 13px;
}